.movieRow {
    margin-bottom: 30px;
}

.marginRow h2 {
    margin: 0px 0px 0px 30px;
}

.movieRow-listAre {
    overflow-x: hidden;
    padding-left: 30px;
}

.movieRow-item {
    display: inline-block;
    width: 250px;
    cursor: pointer;

}

.movieRow-item img {
    width: 100%;
    transform: scale(0.9);
    transition: all ease 0.2s;
}

.movieRow-item img:hover {
    transform: scale(1);
}

.row-left,
.row-right {
    position: absolute;
    width: 40px;
    height: 325px;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    opacity: 0;
}

.row-left {
    left: 0;
}
.row-right {
    right: 0;
}

.movieRow:hover .row-left,
.movieRow:hover .row-right {
   opacity: 1; 
}